<?xml version="1.0"?>
<!--
/**
 * Magento - Unicenta Opos Integrator by Asulpunto
 *
 * NOTICE OF LICENSE
 *  This program is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, Version 3 of the License. You can view
 *   the license here http://opensource.org/licenses/GPL-3.0

 *   This program is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 * @category    Asulpunto
 * @package     Asulpunto_Unicentaopos
 * @copyright   Copyright (c) 2013 Asulpunto (http://www.asulpunto.com)
 * @license     http://opensource.org/licenses/GPL-3.0 GNU General Public License, version 3 (GPL-3.0)
 *
 */
-->
<config>
    <tabs>
        <asulpunto translate="label" module="unicentaopos">
            <label>Asulpunto</label>
            <sort_order>99999</sort_order>
        </asulpunto>
    </tabs>
    <sections>

        <asulpuntounicentaopos translate="label" module="unicentaopos">
            <label>uniCenta oPOS </label>
            <tab>asulpunto</tab>
            <frontend_type>text</frontend_type>
            <sort_order>99999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <banner>
                    <label>Module Information</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[Version: 1.0.0<br/>Module developed by <a href="http://www.asulpunto.com">Asulpunto</a><br/>Support: <a href="http://www.asulpunto.com/supportforum">http://www.asulpunto.com/supportforum</a>]]></comment>
                </banner>
                <unicentaconfig translate="label">
                    <label>uniCenta Connection Configuration</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <url translate="label">
                            <label>uniCenta oPOS Hostname</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </url>
                        <dbname translate="label">
                            <label>uniCenta oPOS Database Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </dbname>
                        <login translate="label">
                            <label>uniCenta oPOS Database Login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </login>
                        <password translate="label">
                            <label>uniCenta oPOS Database Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </password>
                        <check translate="label">
                            <label>Test Connection Details</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>asulpuntounicentaopos/adminhtml_system_config_form_button</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[<b><font color="red">IMPORTANT! </font>Please, press on 'Save Config' button before testing the connection.</b>]]></comment>
                        </check>
                    </fields>
                </unicentaconfig>
                <tools translate="label">
                    <label>Configuration</label>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                            <orderstatus translate="label">
                            <label>Order Status for Stock Syncronisation</label>
                             <comment>Only orders with this status will have the stock value updated in Unicenta Opos</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <validate>required-entry</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </orderstatus>
                        <product_type translate="label">
                            <label>Default Product Attribute Set</label>
                            <frontend_type>select</frontend_type>
                            <source_model>unicentaopos/source_producttypelist</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment>New products will be created in this Product Attribute Set when uniCenta oPOS creates them in Magento</comment>
                        </product_type>
                        <location translate="label">
                            <label>Stock location</label>
                            <frontend_type>select</frontend_type>
                            <source_model>unicentaopos/source_location</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>New products will be created in this Product Attribute Set when uniCenta oPOS creates them in Magento</comment>
                        </location>
                    </fields>
                </tools>
                <sync>
                    <label>Synchronisation</label>
                    <sort_order>16</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <getproducts translate="label">
                            <label>Manual Product Update  From uniCenta oPOS</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>asulpuntounicentaopos/adminhtml_system_config_form_buttongetproducts</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Test the connection before trying to get product updates from uniCenta oPOS]]></comment>
                        </getproducts>
                        <stock translate="label">
                            <label>Manual Stock Synchronisation</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>asulpuntounicentaopos/adminhtml_system_config_form_buttonstock</frontend_model>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Test the connection before trying to synchronise stock]]></comment>
                        </stock>
                    </fields>
                </sync>

                <advanced translate="label">
                    <label>Advanced</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <orderno translate="label">
                            <label>Last Order No</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>This order and any orders done before it will not update uniCenta oPOS stock diary.</comment>
                        </orderno>
                    </fields>
                </advanced>
                <attributes translate="label">
                    <label>Attribute Settings</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <name translate="label">
                            <label>Name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>unicentaopos/source_transfer</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Name</comment>
                        </name>
                        <shortdescription translate="label">
                            <label>Short Description</label>
                            <frontend_type>select</frontend_type>
                            <source_model>unicentaopos/source_transfer</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Name</comment>
                        </shortdescription>
                        <longdescription translate="label">
                            <label>Long Description</label>
                            <frontend_type>select</frontend_type>
                            <source_model>unicentaopos/source_transfer</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Name</comment>
                        </longdescription>
                        <price translate="label">
                            <label>Price</label>
                            <frontend_type>select</frontend_type>
                            <source_model>unicentaopos/source_transfer</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Name</comment>
                        </price>
                        <barcode translate="label">
                            <label>Magento Barcode Attribute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>unicentaopos/source_attributes</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>The attribute that will contain the Barcode from uniCenta oPOS </comment>
                        </barcode>
                    </fields>
                </attributes>
            </groups>
        </asulpuntounicentaopos>
    </sections>
</config>
